* {
  --font-color:{{initParams.scene4.fontColor}};
  --background-color:{{initParams.scene4.backgroundColor}};
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 100%;
  flex: 1;
  font-size: 12px;
  position: relative;
  top: 101%;
  color: var(--font-color);
  background-color: var(--background-color);
}

.container div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1;
}
.container div.column {
  flex-direction: column;
  min-width: 65% !important;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-top {
  position: relative;
  top: 100%;
}
